*.gem
.DS_Store
.bundle
.gems
.rbenv-version
.ruby-*
.idea/
/.rbx
/.rvmrc
/.yardoc/*
/Gemfile.lock
/coverage/*
/dist
/doc/*
/pkg/*
/spec/debug.log
.byebug_history
.rspec_status
/spec/dummyapp/Gemfile.lock
/spec/dummyapp/log/
/spec/dummyapp/db/schema.rb
/spec/dummyapp/db/development.sqlite3
/tmp/*

# Until we offer a devcontainer setup on this project, ignoring its folder to
# allow individual developpers to create a local one.
.devcontainer/
