*.gem
.DS_Store
.bundle
.gems
.rbenv-version
.ruby-*
.idea/
/.rbx
/.rvmrc
/.yardoc/*
/Gemfile.lock
/coverage/*
/dist
/doc/*
/pkg/*
/spec/debug.log
.byebug_history
.rspec_status
/spec/dummyapp/Gemfile.lock
/spec/dummyapp/log/
/spec/dummyapp/db/schema.rb
/spec/dummyapp/db/development.sqlite3
/spec/dummyapp/tmp/
/tmp/*
