name: CI
on:
  pull_request:
    branches:
      - '*'

  push:
    branches:
      - '*'

  schedule:
    - cron: '0 0 * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.7', '3.0', '3.1', '3.2']

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run Unit tests
        run: bundle exec rake spec:unit

      - name: Run Standard linter
        run: bundle exec standardrb

  integration:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        adapter: [ 'mysql2', 'pg', 'sqlite3' ]
        ruby: [ '2.7', '3.0', '3.1', '3.2' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Start MySQL
        if: ${{ matrix.adapter == 'mysql2' }}
        run: sudo systemctl start mysql.service

      - name: Start and setup Postgres
        if: ${{ matrix.adapter == 'pg' }}
        run: |
          sudo systemctl start postgresql.service
          sudo -u postgres psql -c "ALTER USER postgres PASSWORD 'root'"
      #          https://github.com/actions/runner-images/issues/7678

      - name: Install dummyapp dependencies (${{ matrix.adapter }})
        run: bundle install
        working-directory: spec/dummyapp
        env:
          DATABASE_ADAPTER: ${{ matrix.adapter }}

      - name: Run dummyapp migrations (${{ matrix.adapter }})
        run: bin/rails db:create db:migrate
        working-directory: spec/dummyapp
        env:
          DATABASE_ADAPTER: ${{ matrix.adapter }}

      - name: Run Integration tests (${{ matrix.adapter }})
        run: bundle exec rake spec:integration
        env:
          DATABASE_ADAPTER: ${{ matrix.adapter }}