  <% if ENV['DATABASE_ADAPTER'] == 'mysql2' %>
  default: &default
    host: 127.0.0.1
    port: 3306
    adapter: mysql2
    username: root
    password: root
    encoding: utf8

  development:
    primary:
      <<: *default
      database: annotate_rb_development
    <% end %>
    
    <% if ENV['DATABASE_ADAPTER'] == 'pg' %>
  default: &default
    host: 127.0.0.1
    port: 5432
    adapter: postgresql
    username: postgres
    password: root
    encoding: utf8

  development:
    primary:
      <<: *default
      database: annotate_rb_development
    <% end %>
    
    <% if ENV['DATABASE_ADAPTER'] == 'sqlite3' %>
  default: &default
    adapter: sqlite3

  development:
    primary:
      <<: *default
      database: db/development.sqlite3
    <% end %>
